html {
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  }

h1 {
  color: black;
  text-align: left;
  font-weight: 400;
  margin-left: 15vw;
}



  ::selection {
    color: white;
    background: green;
  }

/* Section One */

.section_one {
  height: 100vh;
  padding: 0;
  margin: 0;
  background: url("images/header_one_img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}

.header_one{
  text-align: center;
  margin-top: -53vh;
  font-size: 5vh;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

/* Section Two */

.section_two {
  height: 65vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1vw 15vw 0 15vw;
  margin: 0;
}

.section_two .wrapper {
  border: 2px solid #000000;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_two .wrapper .text_box_one {
  float: left;
  border-right: 2px solid #000000;
  margin: 1vw 1vw 1vw 1vw;
  padding: 0vw 6vw 0vw 6vw;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.section_two .wrapper .text_box_one h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 3vw;
  line-height: 1.5;
  text-transform: uppercase;
}

.section_two .wrapper .text_box_two {
  padding: 0vw 5vw 0vw 5vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_two .wrapper .text_box_two .align h3 {
  text-transform: uppercase;
}

.section_two .wrapper .text_box_two .align p {
  text-transform: none;
  font-weight: 400;
}

/* Section Three */

.section_three {
  height: 65vh;
}

.section_three .foliage_img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* Section Four */

.section_four {
  height: 65vh;
}

/* Navigation */

.nav {
  padding-top: 38vh;
}

.nav ul{
  list-style-type: none;
  margin-left: 1.2vw;
  padding: 0;
  overflow: hidden;
  line-height: 1;
}

.nav ul li{
  display: inline-block;
  padding: 0;
  margin-left: 0;
  float: left;
}

.nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 15px 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  text-shadow: none;
}

.nav ul li a.active {
  font-weight: bolder;
}

.nav ul li a:hover:before{
  width:100%;
}

.nav ul li a:after{
  content:"";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  opacity: .5;
}

.nav ul li a:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #ffffff;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

/* Testing */

/* School */

.contact {
  margin: 0 auto;
  margin-bottom: 5vw;
  width: 50vw;
}

.contact form {
  background-color: green;
  border-radius: 30px;
}

/* Social Icons */

.social_icons {
  float:right;
  padding: 38vh 5vh 0vh 0vh;
}

.social_icons ul{
  list-style-type: none;
  margin-left: 1.2vw;
  padding: 0;
  overflow: hidden;
  line-height: 1;
}

.social_icons ul li{
  display: inline-block;
  padding: 0;
  margin-left: 0;
  float: left;
}

.social_icons ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 15px 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
  text-shadow: none;
}

.social_icons ul li a.active {
  font-weight: bolder;
}

.social_icons ul li a:hover:before{
  width:100%;
}

.social_icons ul li a:after{
  content:"";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  opacity: .5;
}

.social_icons ul li a:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #ffffff;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
